<!doctype html>
<html>
  <head>
    <title>Amazeriffic By David Li</title>
    <!--<link rel="stylesheet" href="Amazeriffic.css" type="text/css" media="screen" />-->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/static/Amazeriffic.js"></script>

  </head>
  <body>
    <header>
	<h1>Amazeriffic</h1>
	<nav>
	  <a href="#">Sign Up</a> |
	  <a href="#">FAQ</a>
	</nav>	
    </header>
    
    <main>
      <h2>Amazeriffic Will Change Your Life!</h2>
      <p>
	Blah, blah!
      </p>
      <h2>Here is why you need Amazeriffic</h2>
      <ul>
	<li>It fits your lifestype</li>
	<li>It's awesome</li>
	<li>It rocks your world</li>
      </ul>

      <section class="comments-input">
	<p><h2>Add Your Comment</h2></p>
	<input type="text" name="comments-input" value="" /><button>+</button>
	
      </section>

      <section class="comments">
	<p>This is your first comment</p>
	<p>This is your second comment</p>
	<p>This is your third comment</p>
      </section>
    </main>

    <footer>
      <div class="contact">
	<h4>Contact Us</h4>
	<p>Amazeriff</p>
	<p>123 main st</p>
	<p>San Jose, CA</p>
      </div>

      <div class="sitemap">
	<h4>Sitemap</h4>
	<ul>
	  <li>Home</li>
	  <li>About US</li>
	  <li>FAQ</li>
      </ul>
      </div>

    </footer>
    
    
    
  </body>
</html>
