<!---
This is the base template for CS535 
-->
{% extends "bootstrap/base.html" %}

<!--- 
Block Title 
-->
{% block title %}CS535A!{% endblock %}

<!--- 
Block Navigation Bar 
-->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">

<!--- 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
--> 

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="http://npu.edu">NPU</a></li>
                <li><a href="/checkDB">Check Project 2 Info</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


<!--- 
Block Content 
-->

{% block content %}
<div class="container">
    <div class="page-header">
        <center><h1>Hello, Welcome to the Home of CS535 at NPU!</h1></center>
    </div>
    <!-- Important the following page content will be in the
         child template cs535_project2.html -->
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
