<!-----------------
 This file extends the "cs535.htm" and specilizes in 
 providing prject2 info
 
 Input: form, student_id
-------------------->

{% extends "cs535.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!------------------
Block title
-------------------->
{% block title %}CS535 Project2{% endblock %}

<!----------------
Block Page content 
This extends the "page_content" block in the cs535.html template
Input: form, student_id
------------------>
{% block page_content %}
<div class="page-header">
   <h1> This shows if your client cert has been successfully authenticated by the server </h1>
   <h2>Hello, {% if student_id %} {{student_id}} {% else %} Please enter your NPU student ID {% endif %}! 
   </h2>
   {% if not known %} <h3> Sorry, ID not found! </h3> {% else %} <p> Welcome: {{record}} </p> {% endif %}
</div> 
<!-- Display the submission form --> 
{{ wtf.quick_form(form)}}
{% endblock %}



